/*RESET.CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*END RESET.CSS*/
.wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto; }

.center {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto; }

header {
  width: 100%;
  height: 0px; }

header .men {
  position: relative;
  top: 60px; }

header li a {
  color: #dddedf;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 35px;
  text-decoration: none;
  text-transform: uppercase; }

header .menu li {
  margin-left: 25px; }

header .menu {
  display: flex;
  justify-content: flex-end;
  margin-left: 265px;
  position: relative;
  top: 26px; }

header .menu li a {
  color: #dddedf;
  font-family: "Raleway", sans-serif;
  font-size: 35px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase; }

.container2 {
  margin: 0 auto;
  text-align: center;
  max-height: 1000px; }

.container2 .cen {
  width: 760px;
  height: 475px;
  background-color: rgba(217, 220, 221, 0.82);
  position: relative;
  top: -695px;
  margin-left: 340px; }

.container2 h1 {
  text-align: center;
  position: relative;
  top: 115px;
  font-family: 'Cookie', cursive;
  font-size: 104px;
  color: #2c3a42; }

.container2 h2 {
  text-align: center;
  position: relative;
  top: 97px;
  font-family: "Raleway", sans-serif;
  font-size: 77px;
  font-weight: 600;
  color: #ad6c12;
  text-transform: uppercase; }

.container2 .ter {
  width: 267px;
  height: 60px;
  position: relative;
  top: 110px;
  margin-left: 247px;
  background: #ffffff; }

.container2 h3 {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 38px;
  font-weight: 600;
  color: #26363a;
  text-transform: uppercase;
  padding-top: 12px; }

.container3 .about {
  width: 100%;
  height: 490px;
  background: #2a3b40;
  text-align: center; }

.container3 .about h3 {
  text-align: left;
  position: relative;
  top: 162px;
  left: 100px;
  font-family: "Raleway", sans-serif;
  font-size: 29px;
  font-weight: bold;
  color: #ffffff;
  max-width: 1080px; }

.container3 .about p {
  max-width: 565px;
  line-height: 2;
  text-align: left;
  position: relative;
  top: 205px;
  left: 100px;
  font-family: "Raleway", sans-serif;
  font-size: 19px;
  font-weight: 400;
  color: #ffffff; }

.container3 .grida {
  position: relative;
  top: -60px;
  left: 740px;
  width: 50%; }

.container3 .grida .itema {
  width: 355px;
  height: 525; }

.container4 .elipse {
  width: 100%;
  height: 375px;
  background-color: #d4d8d9; }
  .container4 .elipse .container-fluid {
    position: relative;
    top: 100px; }
  .container4 .elipse .item_img {
    text-align: left; }
    .container4 .elipse .item_img img {
      max-width: 100%; }
    .container4 .elipse .item_img h3 {
      display: block;
      font-family: "Raleway", sans-serif;
      font-size: 19px;
      font-weight: 700;
      color: #2a3b40;
      margin-top: 30px; }
    .container4 .elipse .item_img p {
      font-family: "Raleway", sans-serif;
      font-size: 16px;
      font-weight: 400;
      color: #2a3b40;
      margin-top: 40px;
      max-width: 325px; }

.container5 {
  margin: 0 auto;
  text-align: center;
  max-height: 1205px; }
  .container5 .card {
    position: relative;
    top: -1117px;
    width: 100%;
    height: 1030px;
    background-color: rgba(251, 249, 243, 0.82); }
    .container5 .card h1 {
      text-align: center;
      position: relative;
      top: 55px;
      font-family: 'Cookie', cursive;
      font-size: 77px;
      color: #304751; }
    .container5 .card h2 {
      text-align: center;
      position: relative;
      top: 45px;
      font-family: "Raleway", sans-serif;
      font-size: 48px;
      font-weight: 600;
      color: #ad6c12;
      text-transform: uppercase; }
    .container5 .card .plate .container-fluid {
      padding-left: 0px;
      padding-right: 0px;
      margin-top: 82px;
      margin-left: -15px; }
      .container5 .card .plate .container-fluid .item_img {
        max-width: 270px;
        height: 274px; }
        .container5 .card .plate .container-fluid .item_img h3 {
          display: block;
          font-family: "Raleway", sans-serif;
          text-transform: uppercase;
          font-size: 19px;
          font-weight: 700;
          color: #304751;
          margin-top: 70px; }
        .container5 .card .plate .container-fluid .item_img p {
          text-align: center;
          font-family: "Raleway", sans-serif;
          font-size: 17px;
          font-weight: 400;
          color: #304751;
          margin-top: 27px; }
        .container5 .card .plate .container-fluid .item_img h4 {
          font-family: "Raleway", sans-serif;
          text-transform: uppercase;
          font-size: 16px;
          font-weight: 700;
          color: #304751;
          margin-top: 22px; }

.container6 {
  margin: 0 auto;
  text-align: center;
  height: 400px; }
  .container6 .easy {
    width: 100%;
    height: 100%;
    background-color: #d4d8d9; }
    .container6 .easy h3 {
      font-family: "Raleway", sans-serif;
      font-size: 29px;
      font-weight: 700;
      color: #2a3b40;
      padding-top: 90px; }
    .container6 .easy p {
      display: inline-block;
      margin-top: 40px;
      max-width: 720px;
      text-align: center;
      font-family: "Raleway", sans-serif;
      font-size: 19px;
      font-weight: 400;
      color: #2a3b40;
      line-height: 1.5; }
    .container6 .easy .elips {
      margin-top: 45px; }
    .container6 .easy .grupe {
      position: relative;
      top: 48px;
      left: 543px;
      width: 365px;
      display: flex; }
      .container6 .easy .grupe li {
        margin-right: 52px; }
        .container6 .easy .grupe li a {
          color: #2a3b40;
          font-family: "Raleway", sans-serif;
          font-size: 17px;
          font-weight: 700;
          text-decoration: none; }
    .container6 .easy .rise {
      width: 243px;
      text-align: left;
      position: relative;
      top: -308px; }
    .container6 .easy .rises {
      width: 243px;
      text-align: right;
      position: relative;
      top: -711px;
      left: 1200px; }

.container7 {
  margin: 0 auto;
  text-align: center;
  max-height: 843px; }
  .container7 .disk {
    text-align: center;
    height: 600px;
    width: 100%;
    background-color: rgba(251, 249, 242, 0.82);
    position: relative;
    top: -602px; }
    .container7 .disk h1 {
      text-align: center;
      position: relative;
      top: 42px;
      font-family: 'Cookie', cursive;
      font-size: 77px;
      color: #304751; }
    .container7 .disk h2 {
      text-align: center;
      position: relative;
      top: 25px;
      font-family: "Raleway", sans-serif;
      font-size: 48px;
      font-weight: 600;
      color: #ad6c12;
      text-transform: uppercase; }
    .container7 .disk .new .container-fluid {
      padding-left: 0px;
      padding-right: 0px;
      margin-top: 30px;
      margin-left: -15px; }
      .container7 .disk .new .container-fluid .item_img {
        max-width: 600px;
        height: 130px;
        text-align: left; }
        .container7 .disk .new .container-fluid .item_img #circle {
          display: inline-block;
          width: 82px;
          height: 82px;
          background: #ffffff;
          -moz-border-radius: 50px;
          -webkit-border-radius: 50px;
          border-radius: 50px;
          margin-top: 40px; }
        .container7 .disk .new .container-fluid .item_img h3 {
          display: inline-block;
          font-family: "Raleway", sans-serif;
          text-transform: uppercase;
          font-size: 19px;
          font-weight: 700;
          color: #304751;
          position: relative;
          top: -60px;
          left: 5px; }
        .container7 .disk .new .container-fluid .item_img p {
          width: 325px;
          text-align: left;
          font-family: "Raleway", sans-serif;
          font-size: 17px;
          font-weight: 400;
          color: #304751;
          position: relative;
          top: -48px;
          left: 92px; }
        .container7 .disk .new .container-fluid .item_img h4 {
          max-width: 75px;
          font-family: "Raleway", sans-serif;
          text-transform: uppercase;
          font-size: 16px;
          font-weight: 700;
          color: #304751;
          position: relative;
          top: -64px;
          left: 315px; }

.container8 {
  margin: 0 auto;
  text-align: center;
  max-height: 890px;
  margin-top: -2px; }

.container9 {
  margin: 0 auto;
  text-align: center;
  height: 454px; }
  .container9 .book {
    width: 100%;
    height: 100%;
    background-color: #2a3b40;
    margin-top: -1px; }
    .container9 .book h2 {
      text-align: center;
      color: #ffffff;
      font-family: 'Cookie', cursive;
      font-size: 77px;
      padding-top: 48px; }
    .container9 .book .new1 {
      margin-left: -70px; }
      .container9 .book .new1 .container-fluid {
        text-align: left;
        font-size: 17px;
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        color: #ffffff; }
        .container9 .book .new1 .container-fluid .form-control {
          margin-top: 10px;
          width: 237px;
          height: 32px;
          color: #ffffff;
          border: 1px solid #ffffff;
          background-color: #2a3b40;
          font-size: 17px;
          font-family: "Raleway", sans-serif;
          font-weight: 700;
          padding-bottom: 2px; }

form label {
  display: block;
  margin-top: 42px; }

form input[type=email] {
  background: 0;
  margin-top: 10px;
  width: 237px;
  height: 32px;
  font-size: 17px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  border: 1px solid #ffffff;
  border-radius: .25rem;
  padding-left: 10px; }

form input[type=email]::-webkit-input-placeholder {
  font-size: 17px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none; }

form input[type=email]:focus {
  outline: none;
  border: 1px solid blue; }

form input[type=email]:focus::-webkit-input-placeholder {
  color: #999999;
  font-size: 15px; }

form input[type=phone] {
  background: 0;
  margin-top: 10px;
  width: 237px;
  height: 32px;
  font-size: 17px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  border: 1px solid #ffffff;
  border-radius: .25rem;
  padding-left: 10px; }

form input[type=phone]::-webkit-input-placeholder {
  font-size: 17px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none; }

form input[type=phone]:focus {
  outline: none;
  border: 1px solid blue; }

form input[type=phone]:focus::-webkit-input-placeholder {
  color: #999999;
  font-size: 15px; }

form input[type=submit] {
  background: 0;
  width: 237px;
  height: 32px;
  font-size: 17px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  border: 1px solid #ffffff;
  border-radius: .25rem;
  margin-top: 50px; }

form input[type=submit]:hover {
  background: #15a4fa; }

.container10 {
  margin: 0 auto;
  text-align: center;
  max-height: 866px; }

.container11 {
  margin: 0 auto;
  text-align: center;
  height: 820px; }
  .container11 .cover {
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: #d4d8d9;
    margin-top: -2px; }
    .container11 .cover h1 {
      text-align: center;
      position: relative;
      top: 42px;
      font-family: 'Cookie', cursive;
      font-size: 77px;
      color: #304751; }
    .container11 .cover h2 {
      text-align: center;
      position: relative;
      top: 25px;
      font-family: "Raleway", sans-serif;
      font-size: 48px;
      font-weight: 600;
      color: #ad6c12;
      text-transform: uppercase; }
    .container11 .cover .new2 .container-fluid {
      padding-left: 0px;
      padding-right: 0px;
      margin-top: 75px; }
      .container11 .cover .new2 .container-fluid .item_img {
        background-color: #ffffff;
        max-width: 342px;
        height: 501px; }
        .container11 .cover .new2 .container-fluid .item_img img {
          width: 342px; }
        .container11 .cover .new2 .container-fluid .item_img span {
          text-align: left;
          display: block;
          font-family: "Raleway", sans-serif;
          font-size: 14px;
          font-weight: 700;
          color: #555555;
          margin-top: 25px;
          margin-left: 25px; }
        .container11 .cover .new2 .container-fluid .item_img h3 {
          text-align: left;
          font-family: "Raleway", sans-serif;
          font-size: 17px;
          font-weight: 700;
          color: #4f4e4e;
          margin-top: 25px;
          margin-left: 25px; }
        .container11 .cover .new2 .container-fluid .item_img p {
          text-align: left;
          font-family: "Raleway", sans-serif;
          font-size: 17px;
          font-weight: 400;
          color: #4f4e4e;
          margin-top: 12px;
          margin-left: 25px; }
        .container11 .cover .new2 .container-fluid .item_img h4 {
          text-align: left;
          font-family: "Raleway", sans-serif;
          text-transform: uppercase;
          font-size: 16px;
          font-weight: 700;
          color: #656565;
          font-size: 14px;
          margin-top: 28px;
          margin-left: 25px;
          padding-bottom: 6px;
          border-bottom: 8px solid #ff992b;
          width: 84px; }
        .container11 .cover .new2 .container-fluid .item_img a {
          text-decoration: none; }

.container12 {
  margin: 0 auto;
  text-align: center;
  height: 342px; }
  .container12 .linda {
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: #2a3b40;
    margin-top: -1px; }
    .container12 .linda .sv {
      height: 30px;
      width: 30px;
      color: #ffffff;
      margin-top: 47px; }
    .container12 .linda .stew {
      width: 700px;
      height: 200px;
      margin-left: 380px;
      margin-top: 37px;
      color: #ffffff; }
      .container12 .linda .stew p {
        font-size: 18px;
        font-family: "Raleway", sans-serif;
        font-weight: 400;
        line-height: 2; }
      .container12 .linda .stew h3 {
        font-size: 18px;
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        margin-top: 30px; }
      .container12 .linda .stew .social {
        width: 430px;
        height: 70px;
        margin-left: 120px;
        margin-top: 30px; }
        .container12 .linda .stew .social ul {
          display: flex;
          justify-content: space-around; }
          .container12 .linda .stew .social ul li {
            background-color: #ffffff;
            border-radius: 50px;
            width: 37px;
            height: 37px;
            display: flex;
            padding-top: 5px;
            padding-left: 5px; }
            .container12 .linda .stew .social ul li svg {
              height: 90%;
              width: 90%;
              color: #2a3b40;
              text-align: center; }

.container12 .linda .social .face:hover {
  background-color: #3b5998; }

.container12 .linda .social .twitt:hover {
  background-color: #00acee; }

.container12 .linda .social .inst:hover {
  width: 50px;
  height: 50px; }

.container12 .linda .social .pint:hover {
  background-color: red; }

.container12 .linda .social .goog:hover {
  background-color: green; }

footer {
  margin: 0 auto;
  text-align: center;
  height: 324px; }
  footer .about {
    width: 100%;
    height: 100%;
    background-color: #d4d8d9; }
    footer .about .new3 .container-fluid {
      padding-top: 72px; }
      footer .about .new3 .container-fluid .item_img h2 {
        text-transform: uppercase;
        text-align: left;
        font-family: "Raleway", sans-serif;
        font-size: 25px;
        font-weight: 700;
        color: #2d2f2a; }
      footer .about .new3 .container-fluid .item_img p {
        line-height: 1.5;
        width: 330px;
        text-align: left;
        font-family: "Raleway", sans-serif;
        font-size: 19px;
        font-weight: 400;
        color: #2d2f2a;
        margin-top: 52px; }
      footer .about .new3 .container-fluid .item_img h3 {
        text-transform: uppercase;
        text-align: left;
        font-family: "Raleway", sans-serif;
        font-size: 21px;
        font-weight: 700;
        color: #2d2f2a; }
      footer .about .new3 .container-fluid .item_img .test {
        line-height: 1.5;
        text-align: left;
        font-family: "Raleway", sans-serif;
        font-size: 21px;
        font-weight: 700;
        color: #2d2f2a;
        margin-top: 52px; }
      footer .about .new3 .container-fluid .item_img h4 {
        text-transform: uppercase;
        text-align: left;
        font-family: 'Roboto', sans-serif;
        font-size: 21px;
        font-weight: 700;
        color: #2d2f2a; }
      footer .about .new3 .container-fluid .item_img .tset {
        line-height: 1.5;
        text-align: left;
        font-family: 'Roboto', sans-serif;
        font-size: 21px;
        font-weight: 400;
        color: #2d2f2a;
        margin-top: 52px; }

/*# sourceMappingURL=style.css.map */
