/*RESET.CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*END RESET.CSS*/
.wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto; }

.center {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto; }

header {
  width: 100%;
  height: 0px; }

header .men {
  position: relative;
  top: 60px; }

header li a {
  color: #dddedf;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 35px;
  text-decoration: none;
  text-transform: uppercase; }

header .menu li {
  margin-left: 25px; }

header .menu {
  display: flex;
  justify-content: flex-end;
  margin-left: 265px;
  position: relative;
  top: 26px; }

header .menu li a {
  color: #dddedf;
  font-family: "Raleway", sans-serif;
  font-size: 35px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase; }

.container2 {
  margin: 0 auto;
  text-align: center;
  max-height: 1000px; }

.container2 .cen {
  width: 760px;
  height: 475px;
  background-color: rgba(217, 220, 221, 0.82);
  position: relative;
  top: -695px;
  margin-left: 340px; }

.container2 h1 {
  text-align: center;
  position: relative;
  top: 115px;
  font-family: 'Cookie', cursive;
  font-size: 104px;
  color: #2c3a42; }

.container2 h2 {
  text-align: center;
  position: relative;
  top: 97px;
  font-family: "Raleway", sans-serif;
  font-size: 77px;
  font-weight: 600;
  color: #ad6c12;
  text-transform: uppercase; }

.container2 .ter {
  width: 267px;
  height: 60px;
  position: relative;
  top: 110px;
  margin-left: 247px;
  background: #ffffff; }

.container2 h3 {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 38px;
  font-weight: 600;
  color: #26363a;
  text-transform: uppercase;
  padding-top: 12px; }

.container3 .about {
  width: 100%;
  height: 490px;
  background: #2a3b40;
  text-align: center; }

.container3 .about h3 {
  text-align: left;
  position: relative;
  top: 162px;
  left: 100px;
  font-family: "Raleway", sans-serif;
  font-size: 29px;
  font-weight: bold;
  color: #ffffff;
  max-width: 1080px; }

.container3 .about p {
  max-width: 565px;
  line-height: 2;
  text-align: left;
  position: relative;
  top: 205px;
  left: 100px;
  font-family: "Raleway", sans-serif;
  font-size: 19px;
  font-weight: 400;
  color: #ffffff; }

.container3 .grida {
  position: relative;
  top: -60px;
  left: 740px;
  width: 50%; }

.container3 .grida .itema {
  width: 355px;
  height: 525; }

.container4 .elipse {
  width: 100%;
  height: 375px;
  background-color: #d4d8d9; }
  .container4 .elipse .container-fluid {
    position: relative;
    top: 100px; }
  .container4 .elipse .item_img {
    text-align: left; }
    .container4 .elipse .item_img img {
      max-width: 100%; }
    .container4 .elipse .item_img h3 {
      display: block;
      font-family: "Raleway", sans-serif;
      font-size: 19px;
      font-weight: 700;
      color: #2a3b40;
      margin-top: 30px; }
    .container4 .elipse .item_img p {
      font-family: "Raleway", sans-serif;
      font-size: 16px;
      font-weight: 400;
      color: #2a3b40;
      margin-top: 40px;
      max-width: 325px; }

.container5 {
  margin: 0 auto;
  text-align: center;
  max-height: 1205px; }
  .container5 .card {
    position: relative;
    top: -1117px;
    width: 100%;
    height: 1030px;
    background-color: rgba(251, 249, 243, 0.82); }
    .container5 .card h1 {
      text-align: center;
      position: relative;
      top: 55px;
      font-family: 'Cookie', cursive;
      font-size: 77px;
      color: #304751; }
    .container5 .card h2 {
      text-align: center;
      position: relative;
      top: 45px;
      font-family: "Raleway", sans-serif;
      font-size: 48px;
      font-weight: 600;
      color: #ad6c12;
      text-transform: uppercase; }
    .container5 .card .plate .container-fluid {
      padding-left: 0px;
      padding-right: 0px;
      margin-top: 82px;
      margin-left: -15px; }
      .container5 .card .plate .container-fluid .item_img {
        max-width: 270px;
        height: 274px; }
        .container5 .card .plate .container-fluid .item_img h3 {
          display: block;
          font-family: "Raleway", sans-serif;
          text-transform: uppercase;
          font-size: 19px;
          font-weight: 700;
          color: #304751;
          margin-top: 70px; }
        .container5 .card .plate .container-fluid .item_img p {
          text-align: center;
          font-family: "Raleway", sans-serif;
          font-size: 17px;
          font-weight: 400;
          color: #304751;
          margin-top: 27px; }
        .container5 .card .plate .container-fluid .item_img h4 {
          font-family: "Raleway", sans-serif;
          text-transform: uppercase;
          font-size: 16px;
          font-weight: 700;
          color: #304751;
          margin-top: 22px; }

.container6 {
  margin: 0 auto;
  text-align: center;
  height: 400px; }
  .container6 .easy {
    width: 100%;
    height: 100%;
    background-color: #d4d8d9; }
    .container6 .easy h3 {
      font-family: "Raleway", sans-serif;
      font-size: 29px;
      font-weight: 700;
      color: #2a3b40;
      padding-top: 90px; }
    .container6 .easy p {
      display: inline-block;
      margin-top: 40px;
      max-width: 720px;
      text-align: center;
      font-family: "Raleway", sans-serif;
      font-size: 19px;
      font-weight: 400;
      color: #2a3b40;
      line-height: 1.5; }
    .container6 .easy .elips {
      margin-top: 45px; }
    .container6 .easy .grupe {
      position: relative;
      top: 48px;
      left: 543px;
      width: 365px;
      display: flex; }
      .container6 .easy .grupe li {
        margin-right: 52px; }
        .container6 .easy .grupe li a {
          color: #2a3b40;
          font-family: "Raleway", sans-serif;
          font-size: 17px;
          font-weight: 700;
          text-decoration: none; }
    .container6 .easy .rise {
      width: 243px;
      text-align: left;
      position: relative;
      top: -308px; }
    .container6 .easy .rises {
      width: 243px;
      text-align: right;
      position: relative;
      top: -711px;
      left: 1200px; }

.container7 {
  margin: 0 auto;
  text-align: center;
  max-height: 843px; }

.container8 {
  margin: 0 auto;
  text-align: center;
  max-height: 890px;
  margin-top: -2px; }

.container9 {
  margin: 0 auto;
  text-align: center;
  height: 454px; }
  .container9 .book {
    width: 100%;
    height: 100%;
    background-color: #2a3b40;
    margin-top: -1px; }

.container10 {
  margin: 0 auto;
  text-align: center;
  max-height: 866px; }

/*# sourceMappingURL=style.css.map */
