/*RESET.CSS*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*END RESET.CSS*/



$main_color: #dddedf;
$main_color2:#ffffff;
$font-stack: 'Raleway', sans-serif;
$main_font_size: 16px;
$h3_size: $main_font_size * 2;
$big_size: $main_font_size * 3;

@mixin border-radius($propety){
    -moz-border-radius: $propety;
    -webkit-border-radius: $propety;
    border-radius: $propety; 
}


.wrapper{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

.center{
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
}

header{
    width: 100%;
    height: 0px;}

header .men{
    position: relative;
    top: 60px;
}

header  li a{
	color: $main_color;
    font-family: $font-stack;
    font-weight: 700;
	font-size: 35px;
	text-decoration: none;
	text-transform: uppercase;
}

header .menu  li{
	margin-left: 25px;
}

header .menu {
    display: flex;
    justify-content: flex-end;
    margin-left: 265px;
    position: relative;
    top: 26px;
}


header .menu  li a{
	color: $main_color;
	font-family: $font-stack;
    font-size: 35px;
    font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
}

.container2{
    margin: 0 auto;
    text-align: center;
    max-height: 1000px;
}

.container2 .cen{
    width: 760px;
    height: 475px;
    background-color: rgba(217, 220, 221, 0.82);
    position: relative;
    top: -695px;
    left: 340px;
}

.container2 h1{
	text-align: center;
	position: relative;
	top: 115px;
	font-family: 'Cookie', cursive;
	font-size: 104px;
	color: #2c3a42;
}

.container2 h2{
	text-align: center;
	position: relative;
	top: 97px ;
	font-family: $font-stack;
	font-size: 77px;
	font-weight: 600;
    color: #ad6c12;
    text-transform: uppercase;
}

.container2 .ter{
    width: 267px;
    height: 60px;
    position: relative;
    top: 110px;
    margin-left: 247px;
    background: $main_color2;
}

.container2 h3{
	text-align: center;
	font-family: $font-stack;
	font-size: 38px;
	font-weight: 600;
    color: #26363a;
    text-transform: uppercase;
    padding-top: 12px;
}

.container3 .about{
	width: 100%;
	height: 490px;
    background: #2a3b40;
    text-align: center;
}

.container3 .about h3{
	text-align: left;
	position: relative;
    top: 162px;
    left: 100px;
	font-family: $font-stack;
	font-size: 29px;
	font-weight: bold;
    color: $main_color2;
    max-width: 1080px;
}

.container3 .about p{
    max-width: 565px;
    line-height: 2;
	text-align: left;
	position: relative;
    top: 205px ;
    left: 100px;
	font-family: $font-stack;
	font-size: 19px;
	font-weight: 400;
	color: $main_color2;
}

.container3 .grida{
	position: relative;
	top: -60px;
	left: 740px;
	width: 50%;
}

.container3 .grida .itema{
    width: 355px;
    height: 525;
}

.container4 .elipse{
    width: 100%;
    height: 375px;
    background-color: #d4d8d9;
    .container-fluid{
    position: relative;
    top: 100px;}
    .item_img{
    text-align: left;
    img{max-width: 100%;}
     h3{
	display: block;
	font-family: $font-stack;
	font-size: 19px;
	font-weight: 700;
    color: #2a3b40;
    margin-top: 30px;}
    p{
    font-family: $font-stack;
    font-size: $main_font_size;
    font-weight: 400;
    color: #2a3b40;
    margin-top: 40px;
    max-width: 325px;
    }}}


.container5{
    margin: 0 auto;
    text-align: center;
    max-height: 1205px;
        .card{
            position: relative;
            top: -1117px;
            width: 100%;
            height: 1030px;
            background-color: rgba(251, 249, 243, 0.82);
            h1{
                text-align: center;
	        position: relative;
	        top: 55px;
            font-family: 'Cookie', cursive;
            font-size: 77px;
            color: #304751;}
            h2{
                text-align: center;
                position: relative;
                top: 45px;
	        font-family: $font-stack;
	        font-size: $big_size;
	        font-weight: 600;
            color: #ad6c12;
            text-transform: uppercase;}
            .plate{
                .container-fluid{
            padding-left: 0px;
            padding-right: 0px;
            margin-top: 82px;
            margin-left: -15px;
            .item_img{
                max-width: 270px;
                height: 274px;
            h3{
                display: block;
            font-family: $font-stack;
            text-transform: uppercase;
            font-size: 19px;
            font-weight: 700;
            color: #304751;
            margin-top: 70px;}
            p{
            text-align: center;
            font-family: $font-stack;
            font-size: 17px;
            font-weight: 400;
            color: #304751;
            margin-top: 27px;}
            h4{
                font-family: $font-stack;
                text-transform: uppercase;
                font-size: $main_font_size;
                font-weight: 700;
                color: #304751;  
                margin-top: 22px;
        }}}}}}


        .container6{
            margin: 0 auto;
            text-align: center;
            height: 400px;
            .easy{
                width: 100%;
                height: 100%;
                background-color: #d4d8d9;
            h3{
                font-family: $font-stack;
                font-size: 29px;
                font-weight: 700;
                color: #2a3b40;  
                padding-top: 90px;}
            p{
                    display: inline-block;
                    margin-top: 40px;
                    max-width: 720px;
                    text-align: center;
                    font-family: $font-stack;
                    font-size: 19px;
                    font-weight: 400;
                    color: #2a3b40;
                    line-height: 1.5;}
            .elips{
                margin-top: 45px;}  
            .grupe{
                position: relative;
                top: 48px;
                left: 543px;
                width: 365px;
                display: flex;
                li{
                    margin-right: 52px;
                    a{
                        color: #2a3b40;
                        font-family: $font-stack;
                        font-size: 17px;
                        font-weight: 700;
                        text-decoration: none;
            }}} 

            .rise{
                width: 243px;
                text-align: left;
                position: relative;
                top: -308px;}  
            .rises{
                width: 243px;
                text-align: right;
                position: relative;
                top: -711px;
                left: 1200px;
            
        }}}

        .container7{
            margin: 0 auto;
            text-align: center;
            max-height: 843px;
            .disk{
                text-align: center;
                height: 600px;
                width: 100%;
                background-color: rgba(251, 249, 242, 0.82);
                position: relative;
                top: -602px;
                h1{
                    text-align: center;
                position: relative;
                top: 42px;
                font-family: 'Cookie', cursive;
                font-size: 77px;
                color: #304751;}
                h2{
                    text-align: center;
                    position: relative;
                    top: 25px;
                font-family: $font-stack;
                font-size: $big_size;
                font-weight: 600;
                color: #ad6c12;
                text-transform: uppercase;}
                .new{
                    .container-fluid{
                padding-left: 0px;
                padding-right: 0px;
                margin-top: 30px;
                margin-left: -15px;
                .item_img{
                    max-width: 600px;
                    height: 130px;
                    text-align: left;
                    #circle {
                        display: inline-block;
                        width: 82px;
                        height: 82px;
                        background: $main_color2;
                        @include border-radius(50px);
                        margin-top: 40px;
                    }
                h3{
                    display: inline-block;
                font-family: $font-stack;
                text-transform: uppercase;
                font-size: 19px;
                font-weight: 700;
                color: #304751;
                position: relative;
                top: -60px;
                left: 5px;}
                p{
                width: 325px;
                text-align: left;
                font-family: $font-stack;
                font-size: 17px;
                font-weight: 400;
                color: #304751;
                position: relative;
                top: -48px;
                left: 92px;}
                h4{
                    max-width: 75px;
                    font-family: $font-stack;
                    text-transform: uppercase;
                    font-size: $main_font_size;
                    font-weight: 700;
                    color: #304751;  
                    position: relative;
                    top: -64px;
                    left: 315px;
        }}}}}}

        .container8{
            margin: 0 auto;
            text-align: center;
            max-height: 890px;
            margin-top: -2px;
        }
    


        .container9{
            margin: 0 auto;
            text-align: center;
            height: 454px;
            .book{
                width: 100%;
                height: 100%;
                background-color: #2a3b40;
                margin-top: -1px;
                h2{
                    text-align: center;
                    color: #ffffff;
	                font-family: 'Cookie', cursive;
                    font-size: 77px;
                    padding-top: 48px;}
                .new1{
                    margin-left: -70px;
                    .container-fluid{
                        text-align: left;
                        font-size: 17px;
                        font-family: $font-stack;
                        font-weight: 700;
                        color:  $main_color2;
                        .form-control{
                            margin-top: 10px;
                            width: 237px;
                            height: 32px;
                            color: $main_color2;
                            border: 1px solid $main_color2;
                            background-color: #2a3b40;
                            font-size: 17px;
                            font-family: $font-stack;
                            font-weight: 700;
                            padding-bottom: 2px;

        }}}}}

        form label{
            display: block;
            margin-top: 42px;
        }


        form input[type=email]{background: 0;
            margin-top: 10px;
            width: 237px;
            height: 32px;
            font-size: 17px;
            font-weight: 700;
            color: $main_color2;
            text-decoration: none;
            border: 1px solid $main_color2;
            border-radius: .25rem;
            padding-left: 10px;
        }
        
        form input[type=email]::-webkit-input-placeholder{
            font-size: 17px;
            font-family: $font-stack;
            font-weight: 700;
            color: $main_color2;
            text-decoration: none
        }
        
        form input[type=email]:focus{
            outline: none;
            border: 1px solid blue;
        }
        form input[type=email]:focus::-webkit-input-placeholder{
            color: #999999;
            font-size: 15px;
        }

        form input[type=phone]{background: 0;
            margin-top: 10px;
            width: 237px;
            height: 32px;
            font-size: 17px;
            font-weight: 700;
            color: $main_color2;
            text-decoration: none;
            border: 1px solid $main_color2;
            border-radius: .25rem;
            padding-left: 10px;
        }
        
        form input[type=phone]::-webkit-input-placeholder{
            font-size: 17px;
            font-family: $font-stack;
            font-weight: 700;
            color: $main_color2;
            text-decoration: none
        }
        
        form input[type=phone]:focus{
            outline: none;
            border: 1px solid blue;
        }
        form input[type=phone]:focus::-webkit-input-placeholder{
            color: #999999;
            font-size: 15px;
        }


        form input[type=submit]{
            background: 0;
            width: 237px;
            height: 32px;
            font-size: 17px;
            font-family: $font-stack;
            font-weight: 700;
            color: $main_color2;
            text-decoration: none;
            border: 1px solid $main_color2;
            border-radius: .25rem;
            margin-top: 50px;
        }
        
        form input[type=submit]:hover{
            background: #15a4fa;
        }

        .container10{
            margin: 0 auto;
            text-align: center;
            max-height: 866px;
        }

        .container11{
            margin: 0 auto;
            text-align: center;
            height: 820px;
            .cover{
                text-align: center;
                height: 100%;
                width: 100%;
                background-color: #d4d8d9;
                margin-top: -2px;
                h1{
                    text-align: center;
                position: relative;
                top: 42px;
                font-family: 'Cookie', cursive;
                font-size: 77px;
                color: #304751;}
                h2{
                    text-align: center;
                    position: relative;
                    top: 25px;
                font-family: $font-stack;
                font-size: $big_size;
                font-weight: 600;
                color: #ad6c12;
                text-transform: uppercase;}
                .new2{
                    .container-fluid{
                padding-left: 0px;
                padding-right: 0px;
                margin-top: 75px;
                .item_img{
                    background-color: $main_color2;
                    max-width: 342px;
                    height: 501px;
                img{
                    width: 342px;
                }
                span{
                    text-align: left;
                    display: block;
                    font-family: $font-stack;
                    font-size: 14px;
                    font-weight: 700;
                    color: #555555;
                    margin-top: 25px;
                    margin-left: 25px;}
                    h3{
                    text-align: left;
                    font-family: $font-stack;
                    font-size: 17px;
                    font-weight: 700;
                    color: #4f4e4e;
                    margin-top: 25px;
                    margin-left: 25px;}
                    p{
                        text-align: left;
                        font-family: $font-stack;
                        font-size: 17px;
                        font-weight: 400;
                        color: #4f4e4e;
                        margin-top: 12px;
                        margin-left: 25px;}
                        h4{
                            text-align: left;
                            font-family: $font-stack;
                            text-transform: uppercase;
                            font-size: $main_font_size;
                            font-weight: 700;
                            color: #656565; 
                            font-size: 14px; 
                            margin-top: 28px;
                            margin-left: 25px;
                            padding-bottom: 6px;
                            border-bottom: 8px solid #ff992b;
                            width: 84px;}
                            a{
                                text-decoration: none;
                
        }}}}}}


        .container12{
            margin: 0 auto;
            text-align: center;
            height: 342px;
            .linda{
                text-align: center;
                width: 100%;
                height: 100%;
                background-color: #2a3b40;
                margin-top: -1px;
                .sv{
                    height: 30px;
                    width: 30px;
                    color: $main_color2;
                    margin-top: 47px;}
                .stew{
                    width: 700px;
                    height: 200px;
                    margin-left: 380px;
                    margin-top: 37px;
                    color: $main_color2;
                    p{
                        font-size: 18px;
                        font-family: $font-stack;
                        font-weight: 400;
                        line-height: 2;}
                    h3{
                        font-size: 18px;
                        font-family: $font-stack;
                        font-weight: 700;
                        margin-top: 30px;}
                    .social{ 
                        width: 430px;
                        height: 70px;
                        margin-left: 120px;
                        margin-top: 30px;
                        ul{
                            display: flex;
                            justify-content: space-around;
                            li{
                                background-color: $main_color2;
                                border-radius: 50px;
                                width: 37px;
                                height: 37px;
                                display: flex;
                                padding-top: 5px;
                                padding-left: 5px;
                                svg{
                                    height: 90%;
                                    width: 90%;
                                    color: #2a3b40;
                                    text-align: center;
                                    
        }}}}}}}


        .container12 .linda .social .face:hover{
            background-color: #3b5998;
        }
        .container12 .linda .social .twitt:hover{
            background-color: #00acee;
        }
        .container12 .linda .social .inst:hover{
            width: 50px;
            height: 50px;
        }
        .container12 .linda .social .pint:hover{
            background-color: red;
        }
        .container12 .linda .social .goog:hover{
            background-color: green;
        
        
        }
        


        footer{
            margin: 0 auto;
            text-align: center;
            height: 324px;
            .about{
                width: 100%;
                height: 100%;
                background-color: #d4d8d9;
                .new3{
                    .container-fluid{
                padding-top: 72px;
                .item_img{
                    h2{
                        text-transform: uppercase;
                        text-align: left;
                        font-family: $font-stack;
                        font-size: 25px;
                        font-weight: 700;
                        color: #2d2f2a;}
                        p{
                            line-height: 1.5;
                            width: 330px;
                            text-align: left;
                            font-family: $font-stack;
                            font-size: 19px;
                            font-weight: 400;
                            color: #2d2f2a;
                            margin-top: 52px;}
                    h3{
                        text-transform: uppercase;
                        text-align: left;
                        font-family: $font-stack;
                        font-size: 21px;
                        font-weight: 700;
                        color: #2d2f2a;} 
                    .test{
                        line-height: 1.5;
                        text-align: left; 
                        font-family: $font-stack;
                            font-size: 21px;
                            font-weight: 700;
                            color: #2d2f2a;
                            margin-top: 52px;}
                    h4{
                                text-transform: uppercase;
                                text-align: left;
                                font-family:'Roboto', sans-serif;
                                font-size: 21px;
                                font-weight: 700;
                                color: #2d2f2a;} 
                    .tset{
                                line-height: 1.5;
                                text-align: left; 
                                font-family: 'Roboto', sans-serif;
                                    font-size: 21px;
                                    font-weight: 400;
                                    color: #2d2f2a;
                                    margin-top: 52px;                    
            }}}}}}


            @media(max-width: 768px){
                .wrapper{
                    width: 1105px;
                header{
                    .men{
                        left: 50px;
                        li{
                           a{
                               font-size: 30px;
                           }}}
                    .menu{
                        margin-left: 0px;
                        top: 29px;
                        left: -50px;
                        li{
                          a{
                              font-size: 30px;
                          }}}}
                .container2{
                    height: 738px;
                    .photo1{
                        width: 100%;
                    }
                    .cen{
                        left: 170px;
                        top: -575px;}}
                .container3{
                    h3{
                        left: 50px;}
                    p{
                        left: 50px;
                        width: 460px;}
                    .grida{
                        top: -90px;
                        left: 530px;}}

                    .container4{
                        .elipse{
                            .container-fluid{
                                width: 820px;
                                top: 25px;
                                left: 130px;
                                .item_img{
                                    p{
                                        margin-top: 30px;
                                    }}}}}

                    .container5{
                        img{
                        width: 100%;}
                        .card{
                            margin-top: 86px;
                            height: 928px;
                            top: -1015px;
                            h1{
                                top: 0px;}
                            h2{
                                top: 0px;}
                            .plate{
                                .container-fluid{
                                margin-top: 9px;
                        }}}}
                    .container6{
                        margin-top: -280px;
                        .easy{
                            p{
                                max-width: 520px;}
                            .grupe{
                                left: 373px;
                            }
                            .rise{
                                top: -337px;}}}
                    .container7{
                        img{
                            width: 100%;}
                        .disk{
                            .new{
                                .container-fluid{
                                    margin-left: -35px;
                                }}}}
                        
                    .container8{
                        margin-top: -198px;
                        img{
                            width: 100%;}}
                    .container9{
                        .book{
                            margin-top: -3px;
                            h2{
                              padding-top: 0px;}
                            .new1{
                                margin-left: 180px;
                                margin-top: -30px;
                    }}}
                    .container10{
                        img{
                            width: 100%;
                            }}
                    .container12{
                        .linda{
                            .stew{
                                margin-left: 220px;
                        }}}
                    footer{
                        width: 1080px;
                    }
                    }}
        
